# Git and DVC
.git
.dvc/cache
.dvc/tmp
.dvc/config.local
.gitignore
.dvcignore

# Virtual Environment
venv/
.venv/
env/

# Python cache and metadata
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing and IDEs
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.vscode/
.idea/
.DS_Store

# Data and Models
# Usually, you want to copy specific data in the Dockerfile 
# rather than sending everything in the build context.
# data/processed/
# models/
metrics/

# Documentation
docs/
*.md
